<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div class="header" th:fragment="header">
    <div class="header box">
        <img th:src="@{../static/assets/img/Neighborhood-logo-white.png}" height="40" width="100">
    </div>
    <div class="gnb">
        <div class="wrap content-between">
            <div class="gnb-link">
                <ul>
                    <li>
                        <img th:src="@{../static/assets/img/Neighborhood-logo.png}" height="70" width="150">
                    </li>
                    <li>
                        <a href="/" class="active">홈</a>
                    </li>
                    <li>
                        <a href="/join">APT 이야기</a>
                    </li>
                    <li>
                        <a href="/board">게시판</a>
                    </li>
                </ul>
            </div>
            <span sec:authentication="name"></span>
            <div th:if="${#authorization.expression('isAuthenticated()')}" class="gnb-login-wrap">
                <button class="gnb-login-btn"><a href="/mypage" class="login-link">내 정보</a></button>
                <form th:method="post" th:action="@{/logout}" class="join-link">
                    <button class="gnb-join-btn">로그아웃</button>
                </form>
            </div>
            <div th:unless="${#authorization.expression('isAuthenticated()')}" class="gnb-login-wrap">
                <button class="gnb-login-btn"><a href="/login" class="login-link">로그인</a></button>
                <button class="gnb-join-btn"><a href="/join" class="join-link">회원가입</a></button>
            </div>
        </div>
    </div>
</div>
</html>
