<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <!--Spring boot 기본 log format과 비슷하게 만들었다. ColorConverter말고 레벨별 색상 변화를 위해 ansi 사용-->
            <PatternLayout disableAnsi="false" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight{%5p}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=green bold, TRACE=blue} %style{%processId}{magenta} --- [%15.15thread] %style{%-40.40C{1.}}{cyan} - %highlight{%m%n}"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Root log level 설정. application.yml에서 logging.root를 설정하면 여기보다 우선 순위로 적용된다.-->
        <Root level="INFO">
            <AppenderRef ref="CONSOLE"/>
        </Root>
        <Logger name="p6spy" level="INFO">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
    </Loggers>
</Configuration>
