<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<div layout:fragment="content">
    <div class="wrap content-center">
        <div class="content-column">
            <div class="post-lnb-wrap">
                <p>title</p>
            </div>
            <button onclick="goWrite()">글쓰기</button>
            <div id="wrap" th:each="board, index : ${boardList}" class="content-left">
                <div class="post-layout">
                    <h5 th:text="${board.title}"></h5>
                    <p th:text="${board.content}"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script type="text/javascript">
        function goWrite() {
            window.location.href = '/write';
        }
    </script>
</th:block>
</html>
