<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<div layout:fragment="content">
    <div class="wrap content-center">
        <div class="content-column">
            <div class="board-lnb-wrap">
                <p>title</p>
            </div>
            <button onclick="goWrite()">글쓰기</button>
            <div th:each="board, stat : ${boardList}" th:if="${stat.index % 2 == 0}" class="content-left">
                <div class="board-layout right-border">
                    <span class="board-category">썸 연애</span>
                    <div class="board-content-wrap">
                        <h3 class="board-title">
                            <a th:href="${boardList[stat.index].url}" th:text="${boardList[stat.index].title}"></a>
                        </h3>
                        <p class="board-content">
                            <a th:href="@{/}" th:text="${boardList[stat.index].content}"></a>
                        </p>
                    </div>
                    <div class="content-left">
                        <a th:href="@{/}" class="content-center board-icon-wrap">
                            <img th:src="@{../static/assets/icon/eye.svg}" th:text="${boardList[stat.index].viewCnt} " class="pe-1 board-icon">
                        </a>
                        <a th:href="@{/}" class="content-center board-icon-wrap">
                            <img th:src="@{../../static/assets/icon/recommend.svg}" th:text="${boardList[stat.index].likeCnt == 0 ? '좋아요' : boardList[stat.index].likeCnt}" class="pe-1 board-icon">
                        </a>
                        <a th:href="@{/}" class="content-center board-icon-wrap">
                            <img th:src="@{../../static/assets/icon/chat.svg}" th:text="${boardList[stat.index].commCnt}" class="pe-1 board-icon">
                        </a>
                    </div>
                </div>
                <div class="board-layout" th:if="${!stat.last}">
                    <h5 th:text="${boardList[stat.index + 1].title}"></h5>
                    <p th:text="${boardList[stat.index + 1].content}"></p>
                    <p th:text="${boardList[stat.index + 1].createDateStr}"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script type="text/javascript">
        function goWrite() {
            window.location.href = '/board/write';
        }
    </script>
</th:block>
</html>
