<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<div layout:fragment="content">
    <div class="wrap content-center">
        <form id="boardForm">
        <div class="write-wrap">
            <div class="write-title-wrap">
                <input class="form-control write-title f-m" type="text" id="title" name="title">
            </div>
            <div class="write-title-wrap">
                <div id="editor">
                    <p th:utext="${board.content}"></p>
                </div>
            </div>
            <div id="result">
            </div>
        </div>
        </form>
    </div>
    <button onclick="post()">등록</button>

    <div class="modal fade" id="alertModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content alert-modal">
                <div class="modal-body p-24">
                    <div class="modal-msg-wrap content-center">
                        <p class="f-m f-16" id="alertMsg"></p>
                    </div>
                    <div class="btn-wrap content-center">
                        <button id="closeModal" class="btn-ok f-m">확인</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script>
        let editor;

        document.addEventListener('DOMContentLoaded', function() {
            ClassicEditor
                .create(document.querySelector('#editor'), {
                    toolbar: {
                        items: [
                            'undo', 'redo',
                            '|', 'heading',
                            '|', 'bold', 'italic',
                            '|', 'link', 'uploadImage', 'blockQuote',
                            '|', 'bulletedList', 'numberedList'
                        ],
                    },
                })
                .then(newEditor => {
                    newEditor.plugins.get('FileRepository').createUploadAdapter = (loader) => {
                        return new UploadAdapter(loader)
                    }
                    editor = newEditor;
                })
                .catch(error => {
                    console.error(error);
                });
        });

        document.getElementById('closeModal').addEventListener('click', function() {
            let modal = bootstrap.Modal.getInstance('#alertModal');
            modal.hide();
        });

        document.getElementById('title').addEventListener('input', function() {
            const maxLength = 100;
            let currentLength = this.value.length;
            if (currentLength > maxLength) {
                this.value = this.value.substring(0, maxLength);
                document.getElementById('alertMsg').innerText = '제목은 최대 100자까지 입력할 수 있습니다.';
                const modal = new bootstrap.Modal('#alertModal');
                modal.show();
            }
        });

        function post() {
            let form = document.getElementById('boardForm');
            let formData = new FormData(form);
            let jsonFormData = {};
            jsonFormData['content'] = editor.getData();
            formData.forEach((value, key) => {
                jsonFormData[key] = value;
            });

            axios.post('/board/write/post', jsonFormData)
                .then(response => {
                    console.log(response);
                    console.log(response.data);
                    document.getElementById('result').append(response.data.data)
                })
                .catch(error => {
                    console.log(error);
                    document.getElementById('result').append(error.message);
                });
        }
    </script>
</th:block>
</html>
