<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<div layout:fragment="content">
    <div class="wrap content-left">
        <div class="post-main">
            <div class="post-main-title-wrap">
                <a th:href="@{/board}" class="breadcrumb">게시판</a>
                <h2 class="post-title" th:text="${board.title}"></h2>
                <div class="post-name">
                    <p th:text="${board.nickName}" class="f-m f-14 mb-0"></p>
                </div>
                <div class="content-between f-l f-14 mt-14">
                    <div>
                        <span class="clock-span mr-14" th:text="${board.createDateStr}"></span>
                        <span th:text="${board.likeCnt == 0 ? '좋아요' : board.likeCnt}"
                              th:class="${board.isLiked} ? 'like-cnt like-cnt-span-on mr-14' : 'like-cnt like-cnt-span mr-14'"
                              th:attr="data-post-no=${board.postNo}, data-post-type='POST'"></span>
                        <span class="view-cnt-span mr-14" th:text="${board.viewCnt}"></span>
                        <span class="comm-cnt-span mr-14" th:text="${board.commCnt}"></span>
                    </div>
                    <div>
                        <span id="bookMark" class="book-mark-span"></span>
                        <div class="dropdown more-wrap">
                            <span class="three-dot-span" data-bs-toggle="dropdown" aria-expanded="false" style="max-width: 62px"></span>
                            <ul class="dropdown-menu more-dropdown-menu">
                                <li><p id="dropDownCopyLink" class="dropdown-item f-l f-14">링크복사</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-main-content">
                <p class="mt-30" th:utext="${board.content}"></p>
                <p th:text="${board.postNo}"></p>
                <a th:href="@{/board/edit/post/{postNo}(postNo=${board.postNo})}">수정</a>
            </div>
            <div class="post-main-comment">
                <h3 class="f-b f-16" th:text="'댓글 ' + ${board.commCnt}"></h3>
                <div class="comment-btn-wrap">
                    <form class="content-left">
                        <img src="/static/assets/icon/camera.svg" class="ms-3 me-1">
                        <button id="commentBtn" class="comment-btn">댓글을 남겨주세요.</button>
                        <input type="file" name="image" class="comment-file">
                        <div id="commentContentWrap" class="comment-content-wrap hidden">
                            <textarea id="commentContent" class="comment-content" rows="4"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <aside class="post-aside">
            <div class="recommend-list">
                <h1>추천 글</h1>
            </div>
        </aside>

        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="liveToast" class="toast align-items-center border-0 text-bg-dark" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000">
                <div class="d-flex">
                    <div class="toast-body">
                        링크가 클립보드에 복사되었습니다.
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
        });

        document.getElementById('bookMark').addEventListener('click', function () {

        });

        document.querySelectorAll('.like-cnt').forEach(element => {
            element.addEventListener('click', function (evt) {
                like(evt);
            });
        });

        document.getElementById('dropDownCopyLink').addEventListener('click', function () {
            let currentURL = window.location.href;
            window.navigator.clipboard.writeText(currentURL).then(function () {
                const toastLiveExample = document.getElementById('liveToast');
                const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample);
                toastBootstrap.show();
            });
        });

        document.getElementById('commentBtn').addEventListener('click', function (evt) {
            evt.preventDefault();
            this.classList.add('hidden');
            document.getElementById('commentContentWrap').classList.remove('hidden');
        });

        document.getElementById('commentContent').addEventListener('input', function () {
            this.style.height = 'auto'; // 초기 높이로 되돌림
            this.style.height = this.scrollHeight + 'px'; // 스크롤 높이로 설정
        })

    </script>
</th:block>
</html>
