<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<div layout:fragment="content">
    <div class="wrap content-left">
        <div class="post-main">
            <div class="post-main-title-wrap">
                <a th:href="@{/board}" class="breadcrumb">게시판</a>
                <h2 class="post-title" th:text="${board.title}"></h2>
                <div class="post-name">
                    <p th:text="${board.nickName}" class="f-m f-14 mb-0"></p>
                </div>
                <div class="content-between f-l f-14 mt-14">
                    <div>
                        <span class="clock-span mr-14" th:text="${board.createDateStr}"></span>
                        <span th:text="${board.likeCnt == 0 ? '좋아요' : board.likeCnt}"
                              th:class="${board.isLiked} ? 'like-cnt like-cnt-span-on mr-14' : 'like-cnt like-cnt-span mr-14'"
                              th:attr="data-post-no=${board.postNo}, data-post-type='POST'"></span>
                        <span class="view-cnt-span mr-14" th:text="${board.viewCnt}"></span>
                        <span class="comm-cnt-span mr-14" th:text="${board.commCnt}"></span>
                    </div>
                    <div>
                        <span id="bookMark" class="book-mark-span"></span>
                        <div class="dropdown more-wrap">
                            <span class="three-dot-span" data-bs-toggle="dropdown" aria-expanded="false" style="max-width: 62px"></span>
                            <ul class="dropdown-menu more-dropdown-menu">
                                <li><p id="dropDownCopyLink" class="dropdown-item f-l f-14">링크복사</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-main-content">
                <p class="mt-30" th:utext="${board.content}"></p>
                <p th:text="${board.postNo}"></p>
                <a th:href="@{/board/edit/post/{postNo}(postNo=${board.postNo})}">수정</a>
            </div>
            <div class="post-main-comment">
                <h3 class="f-b f-16" th:text="'댓글 ' + ${board.commCnt}"></h3>
                <div class="comment-add-wrap">
                    <form method="post" id="commFrom" class="content-left">
                        <button id="commAddBtn" class="comment-add-btn">댓글을 남겨주세요.</button>
                        <div id="wCommWrap" class="w-comment-wrap hidden">
                            <img src="/static/assets/icon/camera.svg" id="wCommImageBtn" class="w-comment-image-btn">
                            <input type="file" id="image" name="image" class="comment-file"
                                   accept=".jpg, .jfif, .pjpeg, .jpeg, .pjp, .png, .gif, .bmp, .dib, .webp, .heic, .heif">
                            <div class="w-comment-content-wrap">
                                <textarea id="wCommContent" name="content" class="w-comment-content" rows="4" placeholder="댓글을 남겨주세요."></textarea>
                            </div>
                            <div class="preview-image-wrap">
                                <img id="previewImage" class="preview-image">
                                <span id="previewImageDelBtn" class="preview-image-del hidden"></span>
                            </div>
                            <div class="w-comment-btn-wrap">
                                <button id="commCancelBtn" class="white-btn-s">취소</button>
                                <button id="commWriteBtn" class="black-btn-s ms-3">등록</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="comment-wrap">
                <p class="comment-name" th:text="${board.nickName}"></p>
<!--                <p class="comment-content" th:text=""></p>-->
            </div>
        </div>
        <aside class="post-aside">
            <div class="recommend-list">
                <h1>추천 글</h1>
            </div>
        </aside>

        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="liveToast" class="toast align-items-center border-0 text-bg-dark" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000">
                <div class="d-flex">
                    <div class="toast-body">
                        링크가 클립보드에 복사되었습니다.
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
        <div class="modal fade" id="alertModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content alert-modal">
                    <div class="modal-body p-24">
                        <div class="modal-msg-wrap content-center">
                            <p class="f-m f-16" id="alertMsg"></p>
                        </div>
                        <div class="btn-wrap content-center">
                            <button id="closeModal" class="btn-ok f-m" data-bs-dismiss="modal">확인</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
        });

        document.getElementById('bookMark').addEventListener('click', function () {

        });

        document.querySelectorAll('.like-cnt').forEach(element => {
            element.addEventListener('click', function (evt) {
                like(evt);
            });
        });

        document.getElementById('dropDownCopyLink').addEventListener('click', function () {
            let currentURL = window.location.href;
            window.navigator.clipboard.writeText(currentURL).then(function () {
                const toastLiveExample = document.getElementById('liveToast');
                const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample);
                toastBootstrap.show();
            });
        });

        document.getElementById('commAddBtn').addEventListener('click', function (evt) {
            evt.preventDefault();
            this.classList.add('hidden');
            document.getElementById('wCommWrap').classList.remove('hidden');
        });

        document.getElementById('wCommContent').addEventListener('input', function () {
            this.style.height = 'auto'; // 초기 높이로 되돌림
            this.style.height = this.scrollHeight + 'px'; // 스크롤 높이로 설정
        });

        document.getElementById('wCommImageBtn').addEventListener('click', function () {
            document.getElementById('image').click();
        });

        document.getElementById('image').addEventListener('change', function () {
            document.querySelector('.preview-image-del').classList.remove('hidden');
            const selectedFile = this.files[0];
            if (selectedFile) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    const base64String = e.target.result;
                    const previewImage = document.getElementById('previewImage');
                    previewImage.src = base64String
                    const img = new Image();
                    img.src = base64String;
                    if(img.width - img.height < 0) {
                        previewImage.style.maxWidth = 180 + 'px';
                        previewImage.style.maxHeight = 240 + 'px';
                    } else {
                        previewImage.style.maxWidth = 240 + 'px';
                        previewImage.style.maxHeight = 180 + 'px';
                    }

                };
                reader.readAsDataURL(selectedFile);
            }
        });

        document.getElementById('previewImageDelBtn').addEventListener('click', function () {
            document.querySelector('.preview-image-del').classList.add('hidden');
            document.getElementById('previewImage').src = '';
            document.getElementById('image').value = '';
        });

        document.getElementById('commCancelBtn').addEventListener('click', function (evt) {
            evt.preventDefault();
            document.getElementById('wCommWrap').classList.add('hidden');
            document.querySelector('.preview-image-del').classList.add('hidden');
            document.getElementById('image').value = '';
            document.getElementById('wCommContent').value = '';
            document.getElementById('previewImage').src = '';
            document.getElementById('commAddBtn').classList.remove('hidden');
        });

        document.getElementById('commWriteBtn').addEventListener('click', function (evt) {
            evt.preventDefault();
            let form = document.getElementById('commFrom');
            let formData = new FormData(form);
            const postNo = [[${board.postNo}]];
            formData.set('postNo', postNo);
            axios.post('/board/write/comment', formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            })
                .then(window.location.reload())
                .catch(error => {
                    console.error(error);
                    ComUtils.modal('댓글 등록에 실패하였습니다. 다시 시도해주세요.');
                });
        });
    </script>
</th:block>
</html>
