<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <script>
        function post() {
            let form = document.getElementById('')

            axios({
                method: 'post',
                url: '/baord/post',
                data: ''
            })
        }
    </script>
</head>
<div layout:fragment="content">
    <form method="post" th:action="@{/board/post}" th:object="${mbrBoard}">
        <input type="text" th:field="*{title}">타이틀
        <input type="text" th:field="*{content}">컨텐츠
        <button onclick="post()">등록</button>
    </form>
</div>
</html>