<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<div layout:fragment="content">
    <div class="wrap">
        <form id="boardForm">
            <input type="text" name="title">타이틀
            <input type="text" name="content">컨텐츠
        </form>
        <button onclick="post()">등록</button>
        <div id="result">
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script>
        function post() {
            let form = document.getElementById('boardForm');
            let formData = new FormData(form);

            let jsonFormData = {};
            formData.forEach((value, key) => {
                jsonFormData[key] = value;
            });

            axios.post('/board/post', jsonFormData)
                .then(response => {
                    console.log(response);
                    console.log(response.data);
                    document.getElementById('result').append(response.data.data)
                })
                .catch(error => {
                    console.log(error);
                    document.getElementById('result').append(error.message);
                });
        }
    </script>
</th:block>
</html>
