<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>로그인</title>
</head>
<div layout:fragment="content">
    <div class="wrap">
        <div class="content-center mt-30 mb-30">
            <h1 class="login-title">로그인</h1>
        </div>
        <div class="content-center">
            <div class="login-wrap content-center">
                <div class="login-inner-wrap">
                    <div class="content-center">
                        <form method="post" th:action="@{/auth/login}" th:object="${loginReqDto}" id="loginForm" class="login-form mt-30">
                            <div class="input-group mb-30">
                                <span class="input-group-text">
                                    <img th:src="@{../static/assets/img/id.svg}">
                                </span>
                                <input type="text" id="username" th:field="*{userId}" placeholder="아이디 ex) xxx@neighborhood.com" class="form-control" maxlength="30" autocomplete="off">
                                <span id="resetId" class="input-group-text">
                                    <img th:src="@{../static/assets/img/x-circle.svg}">
                                </span>
                            </div>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <img th:src="@{../static/assets/img/password.svg}">
                                </span>
                                <input type="password" id="password" th:field="*{password}" placeholder="비밀번호" autocomplete="off" class="form-control" maxlength="16">
                                <span id="resetPassword" class="input-group-text">
                                    <img th:src="@{../static/assets/img/x-circle.svg}">
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="content-right mt-20">
                        <p id="loginStatus" class="login-status"></p>
                    </div>
                    <div>
                        <div class="content-center mt-20">
                            <button onclick="login()" class="login-btn mb-10">로 그 인</button>
                        </div>
                        <div>
                            <button class="join-btn mb-10">회원가입</button>
                        </div>
                        <div>
                            <button class="login-btn mb-10">네이버로 시작하기</button>
                        </div>
                        <div>
                            <button class="login-btn mb-30">구글로 시작하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script>
        document.getElementById('resetId').addEventListener('click', function () {
            document.getElementById('username').value = '';
        });

        document.getElementById('resetPassword').addEventListener('click', function () {
            document.getElementById('password').value = '';
        });

        const login = () => {
            let data = document.getElementById('loginForm');
            if (validateLogin() === true) {
                data.submit();
            }
        }

        const validateLogin = () => {
            if (nullCheck(document.getElementById('username').value)) {
                document.getElementById('loginStatus').innerText = '아이디를 입력해주세요.';
                return false;
            }

            if(nullCheck(document.getElementById('password').value)) {
                document.getElementById('loginStatus').innerText = '비밀번호를 입력해주세요.';
                return false;
            }

            if (!validateId(document.getElementById('username').value)) {
                document.getElementById('loginStatus').innerText = '이메일 형식의 아이디를 입력해주세요.';
                return false;
            }
            return true;
        }

        function nullCheck (value) {
            if (value === null || value === '') {
                return true;
            }
            return false;
        }
    </script>
</th:block>
</html>