/*common*/
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.header .box {
    position: relative;
    width: 100%;
    max-width: inherit;
    height: 40px;
    padding: 0 30px;
    box-sizing: border-box;
    background-color: black;
}

.gnb {
    height: 80px;
    border-bottom: 1px solid #d4d4d4;
}

.wrap {
    position: relative;
    max-width: 1140px;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px 20px 0;
}

.content-left {
    display: flex;
}

.content-between {
    display: flex;
    justify-content: space-between;
}

.content-center {
    display: flex;
    justify-content: center;
}

.content-right {
    display: flex;
    justify-content: right;
}

.content-column {
    display: flex;
    flex-direction: column;
}

.mt-10 {
    margin-top: 10px;
}

.mt-14 {
    margin-top: 14px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-14 {
    margin-bottom: 14px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mr-14 {
    margin-right: 14px;
}

.ml-14 {
    margin-left: 14px;
}

.p-24 {
    padding: 24px;
}

.f-b {
    font-family: "Noto Sans KR Black";
}

.f-m {
    font-family: "Noto Sans KR Medium";
}

.f-l {
    font-family: "Noto Sans KR Light";
}

.f-eb {
    font-family: "Noto Sans KR ExtraBold";
}

.f-14 {
    font-size: 14px;
}

.f-16 {
    font-size: 16px;
}

.red-btn {
    background-color: #da3238;
    border: solid 1px #da3238;
    color: #fff;
    width: 82px;
    height: 40px;
    margin-left: 10px;
    font-size: 14px;
    font-family: "Noto Sans KR ExtraBold";
    line-height: 38px;
}

/*---common---*/

/*gnb*/
.gnb .wrap .gnb-link {
    width: 70%;
}

.gnb .wrap .gnb-link ul {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
}

.gnb .wrap .gnb-link ul li {
    font-family: "Noto Sans KR SemiBold";
    font-size: 25px;
    text-align: center;
    margin-right: 5%;
}

.gnb-link a {
    color: black;
    text-decoration: none;
}

.gnb-link .active {
    font-family: "Noto Sans KR Black";
    text-decoration: underline 3px;
    text-underline-offset: 10px;
    text-decoration-color: #ff3f3f94;
}

.gnb-login-wrap {
    display: flex;
    align-items: center;
}

.gnb-login-btn {
    width: 82px;
    height: 40px;
    margin-right: 10px;
    background-color: #5b86f7a6;
    border: solid 1px #cccce14d;
}

.login-link {
    font-family: "Noto Sans KR ExtraBold";
    font-size: 15px;
    text-decoration: none;
    color: white;
}

.gnb-join-btn {
    width: 82px;
    height: 40px;
    background-color: #fff;
    border: solid 1px #d4d4d4;
    color: #222;
    line-height: 38px;
}

.join-link {
    font-family: "Noto Sans KR ExtraBold";
    font-size: 15px;
    text-decoration: none;
    color: black;
}

/*---gnb---*/

/* /login */
.login-title {
    font-family: "Noto Sans KR Medium";
    font-size: 30px;
}

.login-wrap {
    min-height: 300px;
    width: 50%;
    border: solid 1px #d4d4d4;
    border-radius: 20px;
}

.login-inner-wrap {
    width: 70%;
}

.login-form {
    width: 100%;
}

.login-btn {
    width: 100%;
    height: 40px;
    background-color: #5b86f7a6;
    border: solid 1px #cccce14d;
    border-radius: 10px;
    font-family: "Noto Sans KR ExtraBold";
    font-size: 20px;
    color: #FFFFFF;
}

.join-btn {
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    border: solid 1px #d4d4d4;
    color: #222;
    font-family: "Noto Sans KR ExtraBold";
    font-size: 20px;
}

.login-status {
    font-family: "Noto Sans KR Light";
    font-size: 15px;
    color: red;
}

.naver-login-btn {
    width: 100%;
    height: 40px;
    border: none;
    background-color: #03c75a;
    display: flex;
    align-items: center;
    justify-content: left;
}

.naver-logo {
    margin-left: 20%;
}

.naver-login-text {
    margin-left: 30px;
    font-family: "Noto Sans KR ExtraBold";
    font-size: 20px;
    color: white;
}

.google-login-btn {
    width: 100%;
    height: 40px;
    border: none;
    background-color: #4285F4;
    display: flex;
    align-items: center;
    justify-content: left;
}

.google-login-text {
    margin-left: 30px;
    font-family: "Noto Sans KR ExtraBold";
    font-size: 20px;
    color: white;
}
/* ---/login--- */

/* /board */
.board-layout-wrap {
    max-width: 1100px;
}

.board-layout {
    width: 550px;
    height: 220px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px;
}

.right-border {
    border-right: 1px solid #eee;
}

.board-lnb-wrap {

}

.board-category {
    font-family: "Noto Sans KR Medium";
    font-size: 13px;
}

.board-content-wrap {
    position: relative;
}

.board-title {
    height: 52px;
    padding-right: 105px;

}

.board-title a {
    font-family: "Noto Sans KR SemiBold";
    text-decoration: none;
    color: black;
    display: -webkit-box;
    white-space: normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 18px;
}

.board-content {
    height: 43px;
    max-height: 43px;
    padding-right: 105px;
}

.board-content a {
    display: -webkit-box;
    white-space: normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 43px;
    font-family: "Noto Sans KR";
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.board-icon-wrap {
    font-family: "Noto Sans KR Light";
    text-decoration: none;
    color: black;
    font-size: 13px;
    margin-right: 14px;
    align-items: center;
}

.board-sub-wrap {
    font-family: "Noto Sans KR Light";
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.view-cnt-span::before {
    content: url("/static/assets/icon/eye.svg");
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: -1px 10px 1px 0;
    vertical-align: middle;
}

.like-cnt-span::before {
    content: url("/static/assets/icon/like.svg");
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: -1px 10px 1px 0;
    vertical-align: middle;
}

.comm-cnt-span::before {
    content: url("/static/assets/icon/chat.svg");
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: -1px 10px 1px 0;
    vertical-align: middle;
}

.book-mark-span {
    content: url("/static/assets/icon/bookmark.svg");
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: -1px 10px 1px 0;
    vertical-align: middle;
}

.board-img-wrap {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    display: block;
    width: 80px;
    height: 80px;
    background-color: #e7e7e7;
}

.board-img {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ---/board--- */

/* /posts */
.breadcrumb {
    font-family: "Noto Sans KR Medium";
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.post-title {
    font-family: "Noto Sans KR SemiBold";
    font-size: 24px;
    line-height: 32px;
}

.post-main {
    width: 736px;
    min-height: 800px;
}

.post-main-title-wrap {
    padding: 0 0 29px;
}

.post-name {
    margin-top: 14px;
}

.post-main-content {
    border-top: 1px solid #eee;
}

.post-aside {
    width: 300px;
    margin-left: 64px;
    font-family: "Noto Sans KR Medium";
}

.post-aside h1 {
    font-size: 16px;
    font-family: "Noto Sans KR SemiBold";
}

.recommend-list {
    padding: 22px 23px;
    border: 1px solid #eee;
}

.clock-span::before {
    content: url("/static/assets/icon/clock.svg");
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: -1px 10px 1px 0;
    vertical-align: middle;
}

.three-dot-span::before {
    content: url("/static/assets/icon/three-dots.svg");
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: -1px 10px 1px 0;
    vertical-align: middle;
}
/* ---/post--- */

/* /write */
.write-wrap {
    width: 750px;
    display: grid;
    place-items: center;
}

.write-title-wrap {
    width: 560px;
    min-height: 79px;
    border-bottom: 1px solid #f6f7fa;
}

.write-content-wrap {
    width: 560px;
}

.write-title {
    width: 100%;
    height: 75px;
    font-size: 20px;
    line-height: 1.25em;
    padding: 26px 60px 24px 0;
}

.write-content {
    width: 100%;
    resize: none;
    height: 260px;
}

.btn-ok {
    width: 100%;
    height: 48px;
    margin: 0 6px;
    background-color: #222;
    font-size: 16px;
    font-weight: normal;
    color: #fff;
}

.modal-msg-wrap {
    padding: 16px 0 30px;
}

.alert-modal {
    width: 360px !important;
    min-height: 160px !important;
}

.ck-editor__editable_inline:not(.ck-comment__input *) {
    height: 300px;
    overflow-y: scroll;
}
