<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script th:src="@{/static/js/common.js}" type="text/javascript"></script>
    <link rel="icon" th:href="@{/static/assets/favicon.ico}">
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script th:src="@{/static/js/bootstrap.bundle.js}"></script>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.css}">
    <script th:src="@{/static/js/ckeditor/ckeditor.js}"></script>
    <script th:src="@{/static/js/ckeditor/upload-adapter.js}"></script>
    <link rel="stylesheet" th:href="@{/static/css/ckeditor.css}">
</head>
<body>
    <div th:insert="~{common/header :: header}"></div>

    <div layout:fragment="content"></div>

    <div th:insert="~{common/footer :: footer}"></div>

    <th:block layout:fragment="script"></th:block>
</body>
</html>
